@import "../base.css";

.chatWindow{
    
    width: auto;
    height: var(--full-percent);
    min-width: var(--sidebar-width-max);
    max-width: var(--full-percent);
    
    
    display: flex;
    flex-direction: column;
    gap: var(--msg-gap);
    overflow-y: auto;
    
    
    animation: pulse-shadow var(--animation-duration) infinite var(--transition-easing);
    border-radius: var(--border-radius);
}