@import "../base.css";

.chatWindow{
    flex: 1;
    width: var(--full-percent);
    height: var(--full-percent);
    
    display: flex;
    flex-direction: column;
    gap: var(--msg-gap);
    overflow-y: auto;
    
    border-radius: var(--border-radius);
}