@import "../base.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: var(--full-screen-height);
    width: var(--sidebar-width);
    padding: var(--small-padding);
    gap: var(--small-padding);
    
    
    
    
    
    
}

.sidebar .sidebar-header{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: var(--medium-padding);
    
    min-width: var(--min-width);
    max-width: var(--max-width);
    border-radius: var(--border-radius);
    gap: var(--small-padding);
    
    height: var(--logo-box);
    background: var(--color-primary);
    
}

.sidebar-header .logo{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--small-padding);
    position: relative;
    width: var(--avatar-size);
    height: var(--avatar-size);
    color: var(--color-text-light);
    font-size: 2rem;
    
    width: 40%;
    
}

.sidebar .sidebar-header img{
    height: 80%;
    
   
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-light);
}

.chatsContainer{
    display: flex;
    flex-direction: column;
    padding: var(--small-padding);
    height: 90%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    background: var(--card-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    gap: var(--small-padding);
   
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-padding);
    position: relative;
    height: var(--avatar-size);
}

.searchBar input{
    
    width: var(--full-percent);
    height: var(--full-percent);

    padding: 14px 16px 14px 48px;
    font-size: 14px;
    color: var(--color-text-dark);
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    background: var(--color-input-bg);
}

.searchBar .searchButton {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background: var(--color-secondary);
    position: absolute;
    right: var(--small-padding);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.chatsContainer h3 {
    margin-bottom: var(--medium-padding);
    color: var(--color-text-light);
}

.chatsContainer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--small-padding);
}

.chatsContainer li {
    padding: var(--small-padding);
    width: 100%;
    height: 65px;
    cursor: pointer;
    transition: background var(--transition-duration) var(--transition-easing);
    color: var(--color-text-light);

    background: rgba(var(--color-secondary-rgb), 0.1);
    display: flex;
    align-items: center;
    gap: var(--small-padding);
    border-radius: var(--border-radius);
}

.chatAvatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 15px;
    background: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-light);
}

