.pure-rect-audio {
  background: var(--color-primary);
  border-radius: 20px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  
  
  width: var(--full-percent);

  display: flex;
  align-items: center;
  
  
  
  width: var(--full-percent);

  position: relative;
  box-shadow: 0 1px 8px rgba(var(--color-tertiary-rgb),0.5);
}

.pure-audio-btn {
  width: 42px;
  height: 42px;
  border-radius: var(--border-radius-sqr);
  color:var(--color-tertiary);
  border: var(--border-not-hovered);
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all var(--transition-duration) var(--transition-easing);
  font-size: var(--font-size-large);
}


.pure-audio-btn:hover {
  color:var(--color-tertiary);
  border: var(--border-hovered);
  background-color: var(--color-tertiary-bg);
  opacity: 1;
}

.pure-audio-mid {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  
  position: relative;
  top:10px;
  left:5px;
  
  
}

.pure-audio-progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  height: 36px; 
  cursor: pointer;
  user-select: none;
  color: var(--color-text-gray);
}


  .pure-audio-bar {
  flex-grow: 1;
  width: 3px;
  border-radius: var(--border-radius-sqr);
  transition: background-color 0.15s ease, opacity 0.15s ease;
}

.pure-audio-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pure-audio-time {
  font-size: 11px;
  color: var(--color-text-gray);
  font-variant-numeric: tabular-nums;
  user-select: none;
}

.pure-audio-speed-btn {
  font-size: var(--font-size-base);
  font-weight: 500;
  border: 0.5px solid var(--border-not-hovered);
  background: var(--color-primary);
  color: var(--color-text-gray);
  border-radius: 6px;
  padding: 1px 6px;
  cursor: pointer;
  transition: all 0.15s;
  margin:auto;
}

.pure-audio-speed-btn.active {
  color: var(--color-tertiary);
  border-color: var(--color-tertiary);
}