@import '../base.css';

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--medium-padding);
    background-color: var(--color-primary);
    color: var(--color-text-light);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    width: var(--navbar-width);
    height: var(--full-percent);
    animation: pulse-shadow var(--animation-duration) infinite var(--transition-easing);
    z-index: 999;
    border: var(--border-not-hovered);
  transition: border var(--transition-duration) var(--transition-easing);
}

.navbar:hover{
    border: var(--border-hovered);
  
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: var(--small-padding);
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: var(--small-padding);
}

.navbar-uls{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--large-padding);
}

.navbar-links-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--tiny-padding);
    list-style: none;
}

ul{
    list-style: none;
}

.nav-item{
    width: var(--nav-item-box);
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-light);
}

.nav-link{
    text-decoration: none;
    color: var(--color-text-light);
    font-size: var(--font-size-larger) ;
    font-weight: var(--font-weight-bold);
    transition: color var(--transition-duration) var(--transition-easing);

}

.nav-link:hover{
    color: var(--color-tertiary);
}

.nav-item .active{
    color: var(--color-tertiary);
}


.nav-item img{
    width: var(--part-percent);
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-light);
}

.navbar-icons-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--medium-padding);
}

.user-icon{
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: var(--border-radius-circle);
    background: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-light);
}