@import '../base.css';

.ui-layout{
    display: flex;
    flex-direction: row;
    width: var(--full-screen-width);
    height: var(--full-screen-height);
    overflow: hidden;
    padding: var(--medium-padding);
    gap: var(--small-padding);

    background: var(--system-bg);
}